<div class="row">
    <div class="col-md-12">

        <div class="card mt-5">
            <div class="card-header">
                <div class="row d-flex align-items-center">
                    <div class="col-md-8">
                        <h5 class='card-title'> </h5>
                        <small>Categoria: </small>
                    </div>


                    <div class="col-md-4 d-flex align-items-end">
                        <button class='mr-3 btn btn-outline-info'>
                                            Editar
                                        </button>

                        <div class="interior">
                            <button class='btn btn-outline-danger' href="#open-modal"> Excluir </button>
                        </div>
                        <div id="open-modal" class="modal-window">
                            <div>
                                <a href="#" title="Close" class="modal-close">Close</a>
                                <h1>Deseja mesmo escluir?</h1>
                                <br>
                                <div class="col-md-6"><a class='btn btn-outline-success'> Não </a></div>
                                <div class="col-md-6"><a class='btn btn-outline-danger'> Sim </a></div>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="card-body ">
                <p class="card-text " aria-describedby="texto ">Valor R$: 0</p>
                <p class="card-text " aria-describedby="duracao ">Duração horas
                </p>
                <p class="card-text " aria-describedby="texto ">Curso ministrado por:
                </p>
                <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">
                     </small>
            </div>
        </div>



    </div>
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <h4 class="text-center text-monospace"> Lista de Categorias</h4>
    </div>
</div>
